<div class="main">
  <div class="boxes">
    <div class="boxes-container" *ngFor="let i of videos">
      <div class="text-center"><button class="buttonnn"(click)="video(i.id)">{{i.name}}</button></div>
    </div>
  </div>

  <div class="rightside" *ngFor="let i of newArray">
    <div class="videopart">
      <div class="popup">
      <p class="name">{{i.name}}</p>
      <video  id="videoElement" controls (canplay)="pauseVideo(videoplayer)"
        #videoPlayer>
      <source src="{{i.url}}" type="video/mp4">
      Your browser does not support the video tag.
      </video>
    </div>
    </div>
    <div class="bookmarks">
      <div class="first">
        <h2>Bookmarks</h2>
        <button class="btn btn-primary bookmark" (click)="savebookmarks(i.id)">+BookMarks</button>
      </div>
      <div>
        <div *ngFor="let bookmark of bookmarks">
          <button class="btn btn-info m-2" (click)="jumpToBookmark(bookmark.timestamp)">{{ bookmark.timestamp}}</button>
        </div>
      </div>
    </div>
  </div>
</div>



