*{
  font-family:"Roboto",sans-serif;
}
.login-bg{
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login-card{
  background-color:white;
  color:146C94;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.login-input{
  border:2px dotted;
  border-color:#146C94;
  color:white;
}
.btn{
  color:white;
  min-width: 25vw;
  margin-top: 5vh;
  background-color:#146C94;

}
.login-img{
  height:100px;
  width:100px;
  border-radius:50px;
}
@media(max-width:500px)
{
  .login-form {
      width: 50vw;
      min-height: 30vh;
    }
}
@media(min-width:501px){
  .login-form {
      width: 25vw;
      min-height: 30vh;
    }

}
.login-input{
  color:black;
}
.anchor{
  color:#146C94;
  margin-top:10px;
  text-decoration:none;
  align-self:flex-end;
}
